.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 15px;
    position: fixed;
    height: 100%;
}

.postContent {
    margin-left: 270px;
    /* Adjust based on sidebar width */
    padding: 15px;
}

table,
tr,
th,
td {
    margin-left: 270px;
    /* Adjust based on sidebar width */
    padding: 15px;
    border: 1px solid black;
    border-collapse: collapse;

}