div {
    margin: 10px;
    width: 100px;
    border: 1px solid black;
    background-color: grey;
    display: flex;
    padding: 1.5px;
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}