.outer {

    box-sizing: border-box;
    border: 1px solid black;
    width: 500px;
    padding: 1px;

}

.div {
    display: flex;
}

#div-1 {

    justify-content: left;
    color: green;
}


#div-2 {
    justify-content: center;
}

#div-3 {
    justify-content: right;
}